/.metadata/
HealthCareSystem/src/main/resources/application.properties
HealthCareSystem/src/main/resources/application.properties
*.properties
HealthCareSystem/src/main/resources/application.properties
