/.metadata/
HealthCareSystem/src/main/resources/static/User.java
HealthCareSystem/src/main/resources/application.properties
*.properties
HealthCareSystem/src/main/resources/application.properties
*.properties
HealthCareSystem/src/main/resources/application.properties
